<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- FIXME: android:usesCleartextTraffic must be FALSE for PRODUCTION -->
    <application
        android:allowBackup="false"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:name=".ParkingAdminApplication"
        android:label="ParkParkABC"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustPan"
        >

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDX-Gz9bDh6H5vFzuwnnnWeJIO55ZLTGP4" />

        <activity
            android:name=".NewParkingLotActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewUserActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.chatchatabc.parkingadmin.android.MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.chatchatabc.parkingadmin.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>